<html ng-app="menuModule">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="controller.js"></script>
		<style>
			.margin-button{margin-bottom:3px; margin-right:10px}
			.blue{border-color:blue}
			.black{border-color:black}
		</style>
	</head>
	<body ng-controller="menuListCtrl">
	<center>
		<div id="parent" style="border:1px solid black; height:800px; width:1000px">
			<div menu-directive></div>
			<!--<center>
				<div style="height:{{squareSide}}px; width:{{squareSide}}px">
					<p>
						<input type="button" ng-repeat="menu in menus" ng-class="{'blue margin-button':currentImage==menu.url, 'black margin-button':currentImage!=menu.url}" ng-click="changeImage(menu.url)" value="{{menu.name}}">
					</p>
					<p>
						<img ng-src="{{currentImage}}" style="width:{{squareSide}}px">
					</p>
					<input type="text" value="{{ratio}}" ng-model="ratio" ng-change="ratioChanged()">
				</div>
			</center>-->
		</div>
	</center>
	</body>
</html>